.body-container
  .row
    .col-md-1
    .col-md-10
      = render 'intro_text'
      .profile-question
        .text-center.text-gray Question 3 of 4
        %h4.question Please choose the categories to receive alerts about.
        %div{style: 'margin-top:30px;'}
          = form_tag save_categories_path, class: 'form-inline' do
            .row
              .col-md-6{style: 'padding-left:30px;'}
                - @categories_first_half.each do |category|
                  = check_box_tag "categories[#{category}]", category, @categories && @categories.include?(category), class: 'category-checkbox'
                  = label_tag "categories[#{category}]", category
                  %br
              .col-md-6{style: 'padding-left:30px;'}
                - @categories_second_half.each do |category|
                  = check_box_tag "categories[#{category}]", category, @categories && @categories.include?(category), class: 'category-checkbox'
                  = label_tag "categories[#{category}]", category
                  %br
            - display = 'none'
            - display = 'inline' if @categories
            .row.centered{style: 'text-align:center;margin-top:20px'}
              = link_to 'Back', healthy_path, class: 'btn blue-btn'
              = submit_tag  'Continue', style: "display:#{display};", class: 'btn blue-btn conditional-submit-display', id: 'categories-submit'
    .col-md-1

:javascript
  $(function() {
    if("#{session['profile']['healthy']}" == 'yes') {
      $("#categories_Healthy___Prevention").prop('checked', true);
    };
    categoryCheckboxes();
  })
