.body-container
  .row
    .col-md-2
    .col-md-8
      = render 'intro_text'
      .profile-question
        .text-center.text-gray Question 1 of 4
        %h4.question Are you interested in studies that require adults, minors, or both?
        %div{style: 'margin-top:30px;'}
          = form_tag save_age_path, class: 'form-inline' do
            %div{style: 'margin-left:20px;'}
              = radio_button_tag 'age', 'adults', @age == 'adults', class: 'age-radio-button'
              = label_tag 'age_adults', 'Adults'
            %div{style: 'margin-left:20px;'}
              = radio_button_tag 'age', 'minors', @age == 'minors', class: 'age-radio-button'
              = label_tag 'age_minors', 'Minors'
            %div{style: 'margin-left:20px;'}
              = radio_button_tag 'age', 'both', @age == 'both', class: 'age-radio-button'
              = label_tag 'age_both', 'Both'
            - display = 'none'
            - display = 'inline' if @age
            .row.centered{style: 'text-align:center;margin-top:20px'}
              = link_to 'Back', root_path, class: 'btn blue-btn' 
              = submit_tag  'Continue', style: "display:#{display};", class: 'btn blue-btn conditional-submit-display', id: 'age-submit'
    .col-md-2
