.body-container
  .row
    .col-md-2
    .col-md-8
      = render 'intro_text'
      .profile-question
        .text-center.text-gray Question 4 of 4
        %h4.question What email address would you like to receive alerts at?
        %div{style: 'margin-top:30px;'}
          = form_tag save_email_path, class: 'form-inline', size: '35', autocomplete: 'off' do
            %div{style: 'margin-left:20px;'}
              = email_field_tag 'email', nil, size: '35', id: 'profile-email', style: 'color:black;padding:5px;', autocomplete: 'off', autofocus: 'true'
              %br
              = label_tag 'email', 'Email Address'
            - display = 'none'
            .row.centered{style: 'text-align:center;margin-top:20px'}
              = link_to 'Back', categories_path, class: 'btn blue-btn'
              = submit_tag  'Complete Signup', style: "display:#{display};", class: 'btn blue-btn', id: 'email-submit'
    .col-md-2
