.body-container
  .row
    .col-md-2
    .col-md-8
      = render 'intro_text'
      .profile-question
        .text-center.text-gray Question 2 of 4
        %h4.question Are you interested in studies that require healthy volunteers?
        %div{style: 'margin-top:30px;'}
          = form_tag save_healthy_path, class: 'form-inline' do
            %div{style: 'margin-left:20px;'}
              = radio_button_tag 'healthy', 'yes', @healthy == 'yes', class: 'healthy-radio-button'
              = label_tag 'healthy_yes', 'Yes'
            %div{style: 'margin-left:20px;'}
              = radio_button_tag 'healthy', 'no', @healthy == 'no', class: 'healthy-radio-button'
              = label_tag 'healthy_no', 'No'
            - display = 'none'
            - display = 'inline' if @healthy
            .row.centered{style: 'text-align:center;margin-top:20px'}
              = link_to 'Back', age_path, class: 'btn blue-btn'
              = submit_tag  'Continue', style: "display:#{display};", class: 'btn blue-btn conditional-submit-display', id: 'healthy-submit'
    .col-md-2
