.body-container
  #profile-complete
    #intro-text{style: 'color:black;'}
      - if @trials.first
        %p Success! We have saved your preferences. Below is a list of currently recruiting studies that match your preferences. You will receive a confirmation email soon that will allow you to receive alerts as new studies become available.
      - else
        %p Success! We have saved your preferences. Currently, there are no recruiting studies that match your preferences. You will receive a confirmation email soon that will allow you to receive alerts as new studies become available.
      %p Thank you for registering!
      %p= link_to 'Return to home page', root_path, class: 'btn blue-btn'
      - if @trials.first
        %p Click on a trial for more details.
    - if @trials.first
      .row{style: 'margin-top:35px;'}
        .col-xs-12
          - if @profile.healthy
            = star
            = '= Accepting healthy volunteers'
          %table.table
            %thead
              %tr
                %th.small Category
                %th.small Title
              %tbody
                - @trials.each do |trial|
                  %tr.trial-title
                    %td.small
                      %span.trial-chevron.fa.fa-chevron-circle-right 
                      .table-cell= trial.category
                    %td.small
                      = star if trial.category.downcase.include?('healthy') || trial.healthy_volunteers
                      = trial.title || 'No Title'
                  %tr.trial-details
                    %td.small{colspan: '2', style: 'border-top:none;'}
                      %p
                        %strong Contact Email: 
                        = mail_to (trial.contact_email || 'admin@engage.dartmouth.edu')
                      %p
                        %strong Summary: 
                        = trial.summary
                      %p
                        %strong Gender:
                        = trial.gender
                      %p
                        %strong Minimum Age:
                        = trial.min_age || 'None'
                      %p
                        %strong Maximum Age:
                        = trial.max_age || 'None'
                      %p
                        %strong Needs Healthy Volunteers:
                        = {true: 'Yes', false: 'No'}[trial.healthy_volunteers.to_s.to_sym]
