.body-container
  .row
    .col-sm-2
    .col-sm-8
      %h3#unsubscribe.background-white
        You have been unsubscribed. You will no longer receieve emails regarding opportunities to 
        participate in clinical trials at Dartmouth-Hitchcock.
    .col-sm-2
