.max-400.centered
= devise_error_messages!
%h2 Complete your registration.

-# The ID for this form is 'new_user'
= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .field
    %br/
    = f.email_field :email, autofocus: true
  .field
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  = hidden_field_tag :profile_adults, @profile.adults
  = hidden_field_tag :profile_minors, @profile.minors
  = hidden_field_tag :profile_healthy, @profile.healthy
  = hidden_field_tag :profile_category_1, @profile.category_1
  = hidden_field_tag :profile_category_2, @profile.category_2
  = hidden_field_tag :profile_category_3, @profile.category_3
  = hidden_field_tag :profile_free_text, @profile.free_text
  = submit_tag 'Submit',:class => "btn btn-default"
