- protocol = 'https'
- protocol = 'http' if ['test', 'development'].include? Rails.env

%p
  This automated message is from engage.dartmouth.edu. Your email address has been registered
  at engage.dartmouth.edu. You will receive occasional emails containing information about
  opportunities to participate in clinical trials at Dartmouth-Hitchcock.

%p There is nothing that you need to do at this time.

%p
  If you do not wish to receive these emails, you can
  = link_to 'unsubscribe', unsubscribe_url(@profile.uuid, protocol: protocol)
  at any time.

%p Thank you for your interest in clinical trials at Dartmouth-Hitchcock!
%div{style: 'margin-top:20px;text-align:center;font-size:80%;color:#aaa;'}
  Department of Biomedical Data Science, Geisel School of Medicine at Dartmouth, 1 Medical Center Drive, Lebanon, NH, 03756
