- protocol = 'https'
- protocol = 'http' if ['test', 'development'].include? Rails.env
- trial_word = 'trials'
- trial_word = 'trial' if @trials.length == 1
%p
  This email is from engage.dartmouth.edu. We have found
  = "#{@trials.length} #{trial_word}"
  that may match your interests. Details are listed below. If you see a trial that interests you,
  you can get more information by emailing the contact listed with the study.
%p{style: 'margin-bottom:40px;'}
  If you have any other questions, email us at
  = mail_to 'admin@engage.dartmouth.edu'
- @trials.each do |trial|
  .trial
    .trial-header= trial.title
    .trial-content
      %p
        %strong Contact Email: 
        = mail_to (trial.contact_email || 'admin@engage.dartmouth.edu')
      %p
        %strong Summary: 
        = trial.summary
      %p
        %strong Gender:
        = trial.gender
      %p
        %strong Minimum Age:
        = trial.min_age || 'None'
      %p
        %strong Maximum Age:
        = trial.max_age || 'None'
      %p
        %strong Needs Healthy Volunteers:
        = {true: 'Yes', false: 'No'}[trial.healthy_volunteers.to_s.to_sym]
      %p= link_to 'More information here', trial.url
%div{style: 'margin-top:20px;text-align:center;'}
  = link_to 'unsubscribe', unsubscribe_url(@profile.uuid, protocol: protocol)
%div{style: 'margin-top:20px;text-align:center;font-size:80%;color:#aaa;'}
  Department of Biomedical Data Science, Geisel School of Medicine at Dartmouth, 1 Medical Center Drive, Lebanon, NH, 03756
