- protocol = 'https'
- protocol = 'http' if ['test', 'development'].include? Rails.env
- trial_word = 'trials'
- trial_word = 'trial' if @trials.length == 1
= "This email is from engage.dartmouth.edu. We have found #{@trials.length} #{trial_word} that may match your interests. Details are listed below. If you see a trial that interests you, you can get more information by emailing the contact listed with the study."
= "\r\n"
= "If you have any other questions, email us at admin@engage.dartmouth.edu"
= "\r\n"
= "\r\n"
- @trials.each do |trial|
  = "================================================================================================"
  = "Trial title: #{trial.title}"
  = "\r\n"
  = "Contact Email: #{trial.contact_email || 'admin@engage.dartmouth.edu'}"
  = "\r\n"
  = "Summary: #{trial.summary}"
  = "\r\n"
  = "Gender: #{trial.gender}"
  = "\r\n"
  = "Minimum Age: #{trial.min_age || 'None'}"
  = "\r\n"
  = "Maximum Age: #{trial.max_age || 'None'}"
  = "\r\n"
  = "Needs Healthy Volunteers: #{{true: 'Yes', false: 'No'}[trial.healthy_volunteers.to_s.to_sym]}"
  = "\r\n"
  = "More information here: #{trial.url}"
  = "\r\n"
  = "\r\n"
= "To unsubscribe: #{unsubscribe_url(@profile.uuid, protocol: protocol)}"
= "\r\n"
= "\r\n"
Department of Biomedical Data Science, Geisel School of Medicine at Dartmouth, 1 Medical Center Drive, Lebanon, NH, 03756
