%h3.text-center= "Editing Trial #{@trial.nct_id}"
= form_for @trial, url: update_trial_path, method: 'post' do |f|
  = f.hidden_field :id, value: @trial.id
  %p
    .form-label= f.label :title, class: 'text-green'
    = f.text_area :title, cols: 120, rows: 3, class: 'pad-5'
  %p
    .form-label= f.label :summary, class: 'text-green'
    = f.text_area :summary, cols: 120, rows: 6, class: 'pad-5'
  %p
    .form-label= f.label :study_official_name, class: 'text-green'
    = f.text_field :study_official_name, size: 120, class: 'pad-5'
  %fieldset
    %legend.text-green Contact
    %p
      .form-label= f.label :contact_name, 'Name', class: 'text-green'
      = f.text_field :contact_name, size: 120, class: 'pad-5'
    %p
      .form-label= f.label :contact_phone, 'Phone', class: 'text-green'
      = f.text_field :contact_phone, size: 120, class: 'pad-5'
    %p
      .form-label= f.label :contact_email, 'Email', class: 'text-green'
      = f.text_field :contact_email, size: 120, class: 'pad-5'
  %fieldset
    %legend.text-green Alternate Contact
    %p
      .form-label= f.label :alt_contact_name, 'Name', class: 'text-green'
      = f.text_field :alt_contact_name, size: 120, class: 'pad-5'
    %p
      .form-label= f.label :alt_contact_phone, 'Phone', class: 'text-green'
      = f.text_field :alt_contact_phone, size: 120, class: 'pad-5'
    %p
      .form-label= f.label :alt_contact_email, 'Email', class: 'text-green'
      = f.text_field :alt_contact_email, size: 120, class: 'pad-5'
  %p{style: 'margin-top:30px;'}
    = f.submit 'Save Trial Updates', class: 'btn green-btn'
    = link_to 'Back', edit_trials_path, class: 'btn green-btn'
