%h3.text-center= "Trial #{@trial.nct_id}"
.row{style: 'margin-top:35px;'}
  .col-xs-12
    %table.table.sorted-table
      %thead
        %tr
          %th.bigger Trial Property
          %th.bigger Value
        %tbody
          - @trial.attributes.each do |key, val|
            %tr
              %td= key.humanize
              - if key == 'url'
                %td= link_to val, val
              - else
                %td= val


