.col-xs-8.col-xs-offset-2.pad-20
  = "Send email to #{profile.user.email}"
  = bootstrap_form_tag url: user_email_path do |f|
    = f.hidden_field :email, value: profile.user.email
    = f.text_field :subject
    = f.text_area :body, rows: 10
    = submit_tag 'Send', class: 'btn btn-primary'
