.row
  .col-xs-12
    %p Click on a trial title to enable full trial editing.
    .panel.panel-default.table-responsive{style: 'overflow:auto;'}
      %table.table.table-striped
        %thead
          %tr
            %th.small Verified
            %th.small Category
            %th.small Title
            %th.small Conditions
            %th.small Keywords
            %th.small MeSH terms
        %tbody
          - @trials.each do |trial|
            %tr
              %td.small.text-center= check_box_tag nil, trial.verified, trial.verified, class: 'verified-check-box', id: trial.id 
              %td.small= select_tag 'category', options_for_select(DartmouthClinicalTrial.categories, trial.category), class: 'category-select', id: trial.id, include_blank: true
              %td.small= link_to trial.title, edit_trial_path(trial.id)
              %td.small= [trial.condition_1, trial.condition_2, trial.condition_3, trial.condition_4, trial.condition_5].join('<br>').html_safe
              %td.small= [trial.keyword_1, trial.keyword_2, trial.keyword_3, trial.keyword_4, trial.keyword_5].join('<br>').html_safe
              %td.small= [trial.mesh_term_1, trial.mesh_term_2, trial.mesh_term_3, trial.mesh_term_4, trial.mesh_term_5].join('<br>').html_safe
