%h3
  %span.green-badge= @trials.length
  recruiting trials, 
  %span.green-badge= @profiles.length
  subscribers
.row{style: 'margin-top:35px;'}
  .col-xs-12
    %table.table.sorted-table
      %thead
        %tr
          %th.bigger Email
          %th.bigger Age
          %th.bigger Categories
          %th.bigger Current Matches
          %th.bigger Unsubscribe
        %tbody
          - @profiles.each do |profile|
            %tr
              %td.bigger= mail_to profile.email
              %td.bigger= profile.age.humanize
              %td.bigger= profile.csv_categories.gsub(',', '<br>').html_safe
              %td.bigger
                - trials = profile.trials
                %p.trials-count= link_to trials.count
                %p.profile-trials{style: 'display:none;'}
                  - profile.trials.each do |trial|
                    = link_to trial.nct_id, show_trial_path(trial.id)
                    %br
              %td.bigger{style: 'padding-top:12px;'}
                = link_to 'Unsubscribe',
                  unsubscribe_path(profile.uuid),
                  class: 'btn, green-btn',
                  data: {confirm: "Are you sure that you want to unsubscribe #{profile.email}?"},
                  style: 'padding:8px;'
