%h3 Recruiting Dartmouth clinical trials.

- if @search
  %p
    = "Found #{@trials.length} trials matching \"#{@query}\". "
    = link_to 'Clear search', search_path
- else
  %p= "Found #{@trials.length} recruiting trials."

.row
  = bootstrap_form_tag url: search_results_path, class: 'form-horizontal', role: 'form' do |f|
    .col-md-2
      = f.text_field :query, hide_label: true
    .col-md-2
      = f.submit 'Search', class: 'btn green-btn', style: 'padding:8px;'

.row
  .col-xs-12
    .panel.panel-default.table-responsive{style: 'overflow:auto;'}
      %table.table.table-striped
        %thead
          %tr
            %th Category
            %th Title
            %th NCT ID
            %th Sponsor
            %th Study offcial
            %th Contact name
            %th Contact email
            %th Contact phone
            %th Start date
            %th End date
            %th Conditions
            %th Keywords
            %th MeSH terms
        %tbody
          - @trials.each do |trial|
            %tr
              %td= trial.category
              %td= trial.title
              %td= link_to trial.nct_id, "https://clinicaltrials.gov/ct2/show/#{trial.nct_id}"
              %td= trial.sponsor
              %td= trial.title
              %td= trial.contact_name
              %td= trial.contact_email
              %td= trial.contact_phone
              %td= trial.start_date.strftime("%m/%d/%y") if trial.start_date
              %td= trial.end_date.strftime("%m/%d/%y") if trial.end_date
              %td= [trial.condition_1, trial.condition_2, trial.condition_3, trial.condition_4, trial.condition_5].join('<br>').html_safe
              %td= [trial.keyword_1, trial.keyword_2, trial.keyword_3, trial.keyword_4, trial.keyword_5].join('<br>').html_safe
              %td= [trial.mesh_term_1, trial.mesh_term_2, trial.mesh_term_3, trial.mesh_term_4, trial.mesh_term_5].join('<br>').html_safe
