.max-400.centered
  %h2 Forgot your password?
  = bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    .field
      = f.email_field :email, autofocus: true
    .actions
      = f.submit "Send me reset password instructions", class: 'green-btn'
  = render "devise/shared/links"
