.row#why-volunteer-and-faqs
  .col-sm-2
  .col-sm-4
    #why-volunteer
      %strong Why Volunteer in Clinical Research?
      %ul
        %li
          The development of new medical treatments and cures would be
          impossible without the active participation of research
          volunteers.
        %li
          By volunteering in a study, you will help others by contributing
          to medical research.
        %li
          You could also help researchers to learn about a disease or 
          condition.
        %li
          In some cases, you can try a new treatment before it is available
          outside of research studies; however, these new drugs, procedures,
          or devices may or may not be more effective than the ones that are
          already available.
  .col-sm-4
    #faqs
      %strong Frequently Asked Questions
      #faq-select
        = select_tag 'faq', options_for_select(@faqs.each_with_index.map {|faq, index| [faq[:question], index]})
      #faq-answer
  .col-sm-2

:javascript
  $(function() {
    // Set initial FAQs div size
    resizeFaqs();
    // Resize FAQs div when resizing window
    $(window).resize(function() {
      resizeFaqs();
    })
    // Initialize the FAQ answer to question #1
    displayFaqAnswer(0);
    // Update the FAQ answer when a new question is selected
    $('#faq').change(function(){
      displayFaqAnswer($('#faq').val());
    })
  })

  // Set the FAQ JSON
  var faqsJson = #{@faqs.to_json};

  // Keep the FAQS div the same height as the Why Volunteer div
  function resizeFaqs(){
    $('#faqs').height($('#why-volunteer').height());
  }

  // Display the FAQ answer with the passed-in index
  function displayFaqAnswer(index){
    $('#faq-answer').text(faqsJson[index]['answer']);
  }
