.row.background-dark-blue#more-about-row
  .col-sm-4.no-gutter
    %hr.gray-bar
  .col-sm-4.no-gutter{style: 'position:relative;'}
    = link_to 'Learn More About Volunteering for Research', learn_more_path, id: 'learn-more-bottom-link'
  .col-sm-4.no-gutter
    %hr.gray-bar
