#banner-image
  .row#search-row
    .col-sm-2
    .col-sm-8
      %div
        %strong Search For Studies
      .form-group.has-feedback{style: 'padding-top:5px;'}
        %input#landing-page-query{type: 'text', class: 'form-control', placeholder: 'Search', autofocus: true}
        %i.fa.fa-search.form-control-feedback{style: 'padding-top:14px;color:#aaa;'}
      .hidden
        -# Hidden link. Query parameter is updated by JS and link click is simulated when user
        -# hits Enter in the search field
        = link_to '', browse_with_query_path('placeholder'), id: 'query-hidden-link'
    .col-sm-2
  .row#link-row
    .col-sm-2.no-gutter
    .col-sm-8.no-gutter
      .row.no-gutter
        .col-sm-4.small-left-gutter
          = link_to 'Sign Up to be Notified<br>About New Studies'.html_safe, age_path, class: 'landing-page-link'
        .col-sm-4
          = link_to 'Browse Open Studies<br>by Category'.html_safe, choose_category_path, class: 'landing-page-link'
        .col-sm-4.small-right-gutter
          = link_to 'Browse Healthy Volunteer<br>Studies'.html_safe, browse_healthy_path, class: 'landing-page-link'
    .col-sm-2.no-gutter
