.body-container#browse-body
  .white Search:
  .row
    .col-sm-6.no-gutter
      %input#query{type: 'text', class: 'form-control', placeholder: 'Type here to search', value: @query, autofocus: true, autocomplete: 'off'}
  .white
    .filter
      Filter by category:
      .dropdown
        %button.btn#btn-categories.dropdown-toggle{type: 'button', "data-toggle" => 'dropdown'}
          %span#current-category= "All (#{@trials.length})"
          .fa.fa-chevron-down
        %ul.dropdown-menu
          %li= link_to "All (#{@trials.length})", '#', name: 'All', class: 'category-dropdown-link'
          - DartmouthClinicalTrial.categories.each do |category|
            - trial_count = DartmouthClinicalTrial.recruiting.where(category: category).count
            - if trial_count > 0 
              - category_str = "#{category} (#{trial_count})"
              %li= link_to category_str, '#', name: category, class: 'category-dropdown-link'
    .filter
      Only studies accepting:
      %button.btn#btn-healthy
        -# Use fa-check-square-o via JS when checked
        %span#healthy-check-box.fa.fa-square-o
        Healthy Volunteers
  .white#showing-trials-line
    Showing
    %strong.badge.bigger#matches= @trials.length
    of
    %strong.badge.bigger= @trials.length
    currently recruiting trials. Click on a trial for more information.
  .row#trial-table
    .col-xs-12.no-gutter
      %table.table.sorted-table
        %thead
          %tr
            %th.small Categories
            %th.small Study
          %tbody
            - @trials.each do |trial|
              %tr.title-row
                %td.small.category-cell
                  .badge.category-badge= trial.category
                  - if trial.healthy_volunteers
                    %br
                    .badge.healthy-badge Healthy Volunteers
                %td.trial.small.title-cell
                  %span.trial-chevron.fa.fa-chevron-circle-right 
                  = trial.title
              %tr.trial-details
                %td.trial.small.details-cell{colspan: 2}
                  %p
                    %strong Contact: 
                    = trial.contact_name ? "#{trial.contact_name}, " : nil
                    = mail_to (trial.contact_email || 'admin@engage.dartmouth.edu')
                    = trial.contact_phone ? ", #{trial.contact_phone} " : nil
                  %p
                    %strong Summary: 
                    = trial.summary
                  %p
                    %strong Gender:
                    = trial.gender
                  %p
                    %strong Minimum Age:
                    = trial.min_age || 'None'
                  %p
                    %strong Maximum Age:
                    = trial.max_age || 'None'
                  %p
                    %strong More Information:
                    = link_to trial.url, trial.url, target: '_blank'
:javascript
  var filterOnlyHealthy = false;
  var currentCategory = 'All';
  $(function() {
    // Place the cursor at the end of the input string
    $('#query').focus().val($('#query').val());
    // Apply the category filter if passed-in
    if(!"#{@category}" == '') {
      var categoryDropdownLink = $('[name="#{@category}"]')
      $('#current-category').text(categoryDropdownLink.text());
      currentCategory = "#{@category}"
    }
    // Apply healthy voluteers only filter if passed in
    if("#{@healthy}" == 'true') {
      $('#healthy-check-box').removeClass('fa-square-o').addClass('fa-check-square-o');
      filterOnlyHealthy = true;
    }
    // Run the search filter on page load in case there was a query or filter(s) passed it
    filterNow();
  })
