.body-container
  #categories
    %p#categories-title Browse Studies By Category
    .row#categories-row
      - count = DartmouthClinicalTrial.verified.recruiting.where(healthy_volunteers: true).count
      .col-lg-4.small-gutter
        .category-link-container
          .hidden= link_to '', browse_healthy_path, class: 'hidden-link'
          .category-link Healthy Volunteer Studies
          .category-count= count
    - @categories.each_slice(3) do |slice|
      .row#categories-row
        - slice.each do |category|
          - count = category_count(category)
          .col-lg-4.small-gutter
            - if category
              .category-link-container
                .hidden= link_to '', browse_category_path(category), class: 'hidden-link'
                .category-link= category
                .category-count= count
