.body-container#learn-more-body
  .row
    .col-xs-12#learn-more-header Learn More About Volunteering for Research
  .row
    .col-md-5.no-gutter#learn-more-links
      %p.resources
        %strong Brochures
      %p.resources
        = link_to '<span class="resource-link">Research Participation</span><span class="fa fa-file-pdf-o"></span>'.html_safe,
          research_participation_path,
          target: '_blank'
        = link_to '(en Español)'.html_safe,
          research_participation_spanish_path,
          target: '_blank',
          class: 'resource-link'
      %p.resources
        = link_to '<span class="resource-link">Research Participant Bill of Rights</span><span class="fa fa-file-pdf-o"></span>'.html_safe,
          bill_of_rights_path,
          target: '_blank'
      %p.resources
        = link_to '<span class="resource-link">Common Research Procedures: Blood Draws</span><span class="fa fa-file-pdf-o"></span>'.html_safe,
          blood_draw_path,
          target: '_blank'
        = link_to '(en Español)'.html_safe,
          blood_draw_spanish_path,
          target: '_blank',
          class: 'resource-link'
      %p.resources
        = link_to '<span class="resource-link">Genetic Research</span><span class="fa fa-file-pdf-o"></span>'.html_safe,
          genetic_research_path,
          target: '_blank'
        = link_to '(en Español)'.html_safe,
          genetic_research_spanish_path,
          target: '_blank',
          class: 'resource-link'
      %p#external-links-title
        %strong External Links
      %p.resources
        = link_to '<span class="resource-link">The Center for Information and Study on Clinical Research Participation (CISCRP)</span><span class="fa fa-external-link"></span>'.html_safe,
          'https://www.ciscrp.org/',
          target: '_blank'
    .col-md-7.no-gutter#learn-more-image
