%h2 Welcome back.
%p Previously, you indicated that you would no longer like to recieve emails about research participation opportunities at Dartmouth-Hitchcock.
%p
  If you have changed you mind and would like to receive emails about these opportunities, 
  = link_to 'click here.', reactivate_path


