<h2>Welcome back.</h2>
<% if @user_selected.count ==0 %>
    <h3>Please complete your profile, select categories to subscribe.</h3>
<% end %>
<p>
Below is your volunteer profile.
<%= link_to 'Click here if you would like to change your profile.', edit_profile_path(@profile.id) %>
</p>

<p>  If you would no longer like to recieve emails about research participation oppportunities,
<%= link_to 'click here.', deactivate_path %></p>


<%= form_for(@category, url: create_diseases_path) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <% @a = 0 %>
  <div class="col-md-4">
  <%= f.collection_check_boxes(:name, Disease.all, :id, :title) do |b| %>
  <% @a = @a + 1 %>
  <% if @a < 20 %>
      <% if @user_selected.include?(Disease.find_by_title(b.text).id) %>
          <%= b.label { b.check_box(:checked=> true) + " "+b.text} %><br />
      <% else  %>
        <%= b.label { b.check_box + " "+b.text} %><br />
      <% end %>
   <% end %>
   <% end %>
  </div>
  <% @a = 0 %>
  <div class="col-md-4">
  <%= f.collection_check_boxes(:name, Disease.all, :id, :title) do |b| %>
  <% @a = @a + 1 %>
  <% if @a >= 20 and @a < 40 %>
      <% if @user_selected.include?(Disease.find_by_title(b.text).id) %>
        <%= b.label { b.check_box(:checked=> true) +" "+ b.text} %><br />
      <% else  %>
        <%= b.label { b.check_box + " "+ b.text} %><br />
      <% end %>
  <% end %>
  <% end %>
  </div>
  <% @a = 0 %>
  <div class="col-md-4">
  <%= f.collection_check_boxes(:name, Disease.all, :id, :title) do |b| %>
  <% @a = @a + 1 %>
  <% if @a >= 40 %>
      <% if @user_selected.include?(Disease.find_by_title(b.text).id) %>
        <%= b.label { b.check_box(:checked=> true) + b.text} %><br />
      <% else  %>
        <%= b.label { b.check_box + b.text} %><br />
      <% end %>
      <% end %>
  <% end %>
   </div>
  </div>

  <div class="actions" align="center">
      <%= f.submit :class => "btn btn-primary",:value => "Subscribe" %>
  </div>
<% end %>
