%h2 Welcome back.
%p
  Below is your volunteer profile.
  = link_to 'Click here if you would like to change your profile.', edit_profile_path(@profile.id)

%table
  %th Self or other
  %th Minors or adults
  %th Healthy volunteer
  %th Clinical category 1
  %th Clinical category 2
  %th Clinical category 3
  %tr
    %td= {false: 'other', true: 'self'}[@profile.self.to_s.to_sym]
    %td= @profile.ages 
    %td= {false: 'no', true: 'yes'}[@profile.healthy.to_s.to_sym]
    %td= @profile.chosen_category_1
    %td= @profile.chosen_category_2
    %td= @profile.chosen_category_3
%p
  If you would no longer like to recieve emails about research participation oppportunities, click 
  = link_to 'here.', deactivate_path

<div class="form_row">
  <label for="features[]">Features:</label>
    <br><%= check_box_tag 'features[]', 'scenarios' %> Scenarios
      <br><%= check_box_tag 'features[]', 'role_profiles' %> Role profiles
        <br><%= check_box_tag 'features[]', 'private_messages' %> Private messages
          <br><%= check_box_tag 'features[]', 'chatrooms' %> Chatrooms
            <br><%= check_box_tag 'features[]', 'forums' %> Forums
              <br><%= check_box_tag 'features[]', 'news' %> News
                <br><%= check_box_tag 'features[]', 'polls' %> Polls
                  </div>
