- protocol = 'https'
- protocol = 'http' if ['test', 'development'].include? Rails.env

%p This automated message is from the Dartmouth Clinical Trials Volunteers application. A new volunteer has regsistered in the system.

%p
  To view volunteers and match them to available recruiting trials, log in here:
  = new_user_session_url(protocol: protocol)

