.max-400.centered
  %h2 Log in
  = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.email_field :email, autofocus: true
    .field
      = f.password_field :password, autocomplete: "off"
    .actions
      = f.submit "Log in", class: 'green-btn'
  = render "devise/shared/links"
