@import 'mixins';
@import 'colors';

.profile-detail{
  display: none;
}

.form-label{
  font-size: 16px;
  margin-top: 20px;
}

legend{
  margin-bottom: 0px;
  color: #666;
  font-size: 16px;
  border: none;
  width: auto;
}

fieldset{
  width: 880px;
  margin-top: 20px;
  border: 1px solid #aaa;
  padding: 10px;
}
