@import 'mixins';
@import 'colors';

#browse-body{
	min-height: 1200px;
}

.btn:focus {
  color: white;
	box-shadow: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#btn-categories{
  background-color: $background-dark-blue;
  width: 350px;
  &:hover{
    color: white;
    background-color: $background-med-blue;
  }
}

#btn-healthy{
  display: block;
  background-color: $background-orange; 
  &:active{
    box-shadow: none;
  }
  &:hover{
    color: white;
    background-color: $background-dark-orange;
  }
}

.badge{
  background-color: $background-med-light-blue; 
  white-space: normal;
  font-size: 12px;
  font-weight: normal;
  border-radius: 7px;
}

@media only screen and (min-width : 768px){
  .badge{
    white-space: nowrap;
  }
}

.category-badge{
  background-color: $background-dark-blue; 
  margin-bottom: 5px;
  &:hover{
		cursor: pointer;
    color: white;
    background-color: $background-med-blue;
  }
}

.healthy-badge{
  background-color: $background-orange; 
  &:hover{
		cursor: pointer;
    color: white;
    background-color: $background-dark-orange;
  }
}

.highlight{
  background-color: #ffffe1 !important;
}

.no-bottom-border{
  border: none !important;
}

.trial-chevron{
  margin-left: -16px !important;
}

.table-cell{
  display: table-cell;
  padding-left: 4px;
}

.title-cell{
  padding-left: 20px !important;
  text-indent: 0px;
}

.fa-chevron-circle-right, .fa-chevron-circle-down{
  color: $background-dark-blue;
  font-size: larger;
}

.filter{
  margin-top:15px;
}

#category-filter-col{
  margin-bottom: 10px;
}

#showing-trials-line{
  margin-top:20px;
}

.details-cell{
  border-top: none !important;
  padding-left: 20px !important;
}

.dark-blue-link{
  color: $text-dark-blue;
  text-decoration: underline;
}

.trial-details{
  display: none;
}

.trial{
  &:hover{
    background-color: #ddd;
    cursor: pointer;
  }
}
