@import 'mixins';
@import 'colors';

.blue-btn{
  background-color: $background-light-blue;
  color: white;
  padding: 15px;
  border: none;
}

.blue-btn:hover{
  cursor: pointer;
  background-color: $background-dark-blue;
  color: white;
  text-decoration: none;
}

.navbar-link{
  color: white;
}
