@import 'mixins';
@import 'colors';

#categories{
  background-color: white;
  padding: 15px; 
}

.category-link-container{
  display: table;
  background-color: $category-box;
  border: $category-box-border 1px solid;
  margin-bottom: 10px;
  &:hover {
    background-color: $cb-highlight;
    text-decoration: none;
    cursor: pointer;
    .category-count{
      background-color: $numsquare-highlight;
    }
  }
  z-index: 100;
}

.category-link{
  width: 100%;
  padding: 10px;
  display: table-cell;
  color: $category-text;
}

.category-count{
  padding: 10px;
  display: table-cell;
  min-width: 40px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: $number-squares;
}

#categories-title{
  font-size: larger;
}

.small-gutter{
  padding-right: 5px;
  padding-left: 5px;
}

#categories-row{
  padding-right: 5px;
  padding-left: 5px;
}
