$black: #222;

$background-very-light-blue: #9ddafb;
$background-light-blue: #7bc2de;
$background-med-light-blue: #71b2cc;
$background-med-blue: #b4dff0;
$background-dark-blue: #4d96b3;
$background-light-gray: #e5e5e5;
$background-med-gray: #999999;
$background-dark-gray: #777777;
$background-orange: #f4bc62;
$background-dark-orange: #cda55b;

// For browse page
$category-box: #d8f4ff;
$category-box-border: #9ddafb;
$cb-highlight: #f2fbff;
$number-squares: #7bc2de;
$numsquare-highlight: #a7d7ea;
$category-text: #084b65;

$text-light-blue: #4d96b3;
$text-dark-blue: #2d7390;

.background-black{background-color: $black;}
.background-white{background-color: white;}
.background-light-gray{background-color: $background-light-gray;}
.background-light-blue{background-color: $background-light-blue;}
.background-dark-blue{background-color: $background-dark-blue;}

.text-black{color: $black;}
.text-white{color: #fff;}
.text-gray{color: #bbb;}
.text-light-blue{color: $text-light-blue;}
.text-dark-blue{color: $text-dark-blue;}
