@import 'mixins';
@import 'colors';

#banner-image{
	min-height: 250px;
	background-image: image-url('doc_and_pt.png');
	background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#search-row{
	padding-top:45px;
}

@media only screen and (max-width : 768px){
	#search-row{
	 padding-top: 10px;
   padding-left: 15px;
   padding-right: 15px;
  }	
  #participate-in-research, hr.gray-bar{
    display: none;
  }
  .footer-link, #left-footer-link{
    text-align: center !important;
  }
	.small-left-gutter{
		padding-left: 15px !important;
  }
	.small-right-gutter{
		padding-right: 15px !important;
  }
}

.small-left-gutter{
	padding-left: 5px;
}

.small-right-gutter{
	padding-right: 5px;
}

#link-row{
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

#why-volunteer-and-faqs{
  background-color: $background-light-blue;
}

#why-volunteer, #faqs{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: white;
  min-height: 290px;
}

#faq-select{
  margin-top: 5px;
}

#faq{
  width: 100%;
}

#faq-answer{
  margin-top: 10px;
  padding: 7px;
  background-color: $background-light-gray;
  height: 80%;
}

#more-about-row{
  min-height: 100px;
}

#footer{
  background-color: white;
}

.footer-link{
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: underline;
}

#left-footer-link{
  text-align: right;
}

.footer-link-text{
  color: $black;
  font-size: smaller;
}

#learn-more-bottom-link{
  display: block;
  padding: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: larger;
  color: $black;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  background-color: $background-light-gray;
}

hr.gray-bar{
  width: 100%;
  margin-top: 47px;
  padding: none;
  border: none;
  height: 10px;
  background-color: $background-light-gray;
}

.landing-page-link{
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  color: white;
  text-align: center;
  background-color: $background-dark-blue;
  border: 1px solid $background-light-blue;
  &:hover{
		color: white;
    background-color: $background-light-blue;
    text-decoration: none;
  }
}

#learn-more-body{
  min-height: 800px;
}

#learn-more-header{
  padding: 10px;
  color: white;
  background-color: $background-dark-blue;
}

#learn-more-links{
	min-height: 500px;
  padding: 10px;
  background-color: white;
}

#learn-more-image{
	min-height: 500px;
	background-image: image-url('learn_more.jpg');
	background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fa.fa-file-pdf-o, .fa.fa-external-link{
  margin-left: 5px;
  margin-right: 5px;
}


.resource-link{
  text-decoration: underline;
}

.resources{
  margin-top: 15px;
}

#external-links-title{
  margin-top: 35px;
}
