@import 'mixins';
@import 'colors';

body{
  font-family: 'Sans Source Pro', sans-serif !important;
  color: $black;
}

.body-container{
  background-color: $background-light-blue;
  padding: 30px 100px 30px 100px;
}

@media only screen and (max-width : 768px){
  .body-container{
    padding: 30px 10px 30px 10px;
  }
}

ul{
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

li{
}

.centered{
  margin-left: auto;
  margin-right: auto;
}

.vertical-center{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.max-400{max-width: 400px;}
.max-500{max-width: 500px;}
.max-600{max-width: 600px;}
.max-700{max-width: 700px;}
.max-800{max-width: 800px;}

.bigger{font-size: 14px;}
.big{font-size: 25px;}
.small{font-size: 12px;}

.no-radius{
  @include no-radius;
}

.no-gutter{
  padding-right: 0px;
  padding-left: 0px;
}

label{
  font-weight: normal;
  margin-left: 5px;
}

.white{
  color: white;
}

label:hover, input[type="checkbox"]:hover{
  cursor: pointer;
}

.bigger{
	font-size: larger !important;
}
