@import 'mixins';
@import 'colors';

.margin-top {margin-top: 30px;}
.margin-bottom {margin-bottom: 30px;}
.margin {margin: 30px;}

.pad-5 {padding: 5px; }
.pad-10 {padding: 10px; }
.pad-20{padding: 20px;}
