@import 'mixins';
@import 'colors';

#intro-text{
  color: white;
  font-size: 120%;
  font-weight: lighter;
}

.profile-question{
  background-color: white;
  margin-top: 20px;
  padding: 10px;
}

h4.question{
  margin-left: 20px;
}

#profile-complete{
  background-color: white;
  padding: 30px;
}

#unsubscribe{
  padding: 30px;
}
