%footer.navbar-fixed-bottom#footer
  .row#footer
    .col-sm-4
    .col-sm-2.footer-link#left-footer-link
      = link_to 'Dartmouth SYNERGY', 'https://synergy.dartmouth.edu/', class: 'footer-link-text'
    .col-sm-2.footer-link
      = link_to 'Dartmouth-Hitchcock', 'http://www.dartmouth-hitchcock.org/', class: 'footer-link-text'
    .col-sm-4
