%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%meta{charset: "utf-8"}/
%meta{content: "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
%meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
%title= content_for?(:title) ? yield(:title) : 'Engage'
%link{:href => "https://www.google.com/fonts#UsePlace:use/Collection:Source+Sans+Pro", :rel => "stylesheet", :type => "text/css"}
= csrf_meta_tags
/ Le HTML5 shim, for IE6-8 support of HTML elements
/[if lt IE 9]
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
= stylesheet_link_tag "application", :media => "all"
= favicon_link_tag 'favicon.png', :rel => 'shortcut icon'
= javascript_include_tag "application"
