.container-fluid{style: 'padding:10px;background-color:white;'}
  = link_to image_tag('engage_logo', height: '50'), root_path
  = link_to image_tag('participate_in_research', height: '30'), root_path, style: 'padding-left:10px;', id: 'participate-in-research'
  %div{style: 'float:right;height:30px;'}
    %div{style: 'margin-top:15px;'}
      - if user_signed_in?
        Logged in as 
        = link_to current_user.email, edit_user_registration_path
      - else
        = link_to 'Learn More', learn_more_path

- if user_signed_in? || (params[:controller] == 'devise/sessions' && params[:action] == 'new')
  .clearfix
    %nav.navbar.navbar-dark.no-radius{style: 'background-color:#333;border:none;'}
      .container
        %ul.nav.navbar-nav.navbar-left
          - if user_signed_in?
            - if current_user.admin?
              %li.nav-item
                = link_to 'Dashboard', root_path, class: 'navbar-link first'
              %li.nav-item
                = link_to 'Search Trials', search_path, class: 'navbar-link first'
              %li.nav-item
                = link_to 'Edit Trials', edit_trials_path, class: 'navbar-link first'
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li.nav-item
              = link_to 'Log Out', destroy_user_session_path, method: 'delete', class: 'navbar-link last'
          - else
            -#  %li.nav-item
            -#    = link_to 'Register', new_profile_path, class: 'navbar-link last'
            -# %li.nav-item
            -#   = link_to 'Login', new_user_session_path, class: 'navbar-link last'
