!!!
%html
  %body
    -# Gmail strips the head, so style must go in body
    :css
      body {
        font-family: 'Sans Source Pro', sans-serif;
        padding: 20px;
      }
      .trial {
        border: 2px solid #449461;
        margin-bottom: 40px;
      }
      .trial-header {
        background-color: #449461;
        color: white;
        padding: 15px;
      }
      .trial-content {
        padding: 10px;
        background-color: #eee;
      }
    = yield
